.wrapper {
  position: relative;
  @media $s_max {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
  }
  @media $m_only {
    margin-top: 50px;
  }
  @media $l_min {
    margin-left: 100px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    background: white;
    box-shadow: inset -10px 0 10px -10px $darkStone, inset 10px 0 10px -10px $darkStone;
    @media $m_only {
      transform: skew(-10deg, 0deg);
    }
    @media $l_min {
      transform: skew(-20deg, 0deg);
    }
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  @media $m_only {
    width: 500px;
    margin: 25px 50px;
  }
  @media $l_min {
    width: 550px;
    margin: 25px 75px;
  }
}
.tabs {
  display: flex;
}
.content {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex: 1;
  border: 1px solid $azure;
}
