.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  background-color: $darkStone;
  box-shadow: 0 0 0 5px $darkStone;
  @mixin extendBackground $darkStone;
  @media $s_max {
    padding: 15px 30px;
  }
  @media $m_only {
    padding: 50px 0;
  }
  @media $m_max {
    flex-direction: column;
  }
}
.tabs {
  position: relative;
  display: flex;
  @media $s_max {
    flex-wrap: wrap;
    width: 100%;
    max-width: 350px;
    margin-top: 20px;
    padding: 10px;
  }
  @media $m_only {
    margin-top: 50px;
    padding: 10px 0;
  }
  @media $l_min {
    margin-left: 100px;
  }
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    background: white;
    @media $m_only {
      transform: skew(-10deg, 0deg);
      border-radius: $radiusLarge;
    }
    @media $l_min {
      transform: skew(-15deg, 0deg);
    }
  }
}
