.wrapper {
  position: relative;
  margin-left: 100px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: " ";
    transform: skew(-20deg, 0deg);
    background: white;
    box-shadow: inset -10px 0 10px -10px $darkStone, inset 10px 0 10px -10px $darkStone;
  }
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 200px;
  margin: 25px 75px;
}
.tabs {
  display: flex;
}
.content {
  display: flex;
  overflow: scroll;
  flex-direction: column;
  flex: 1;
  border: 1px solid $azure;
}
