.header {
  font-weight: 700;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-bottom: 2px solid $azure;
  & div {
    display: flex;
    align-items: center;
  }
  & * {
    color: $azure;
  }
}
.cell {
  @media $s_max {
    padding: 5px;
  }
  @media $m_only {
    padding: 8px;
  }
  @media $l_min {
    padding: 12px;
  }
  &:hover:not(.disabled) {
    margin-bottom: -2px;
    border-bottom: 2px solid $darkAzure;
    & p {
      color: $darkAzure;
    }
    & .arrowDown {
      border-top: 5px solid $darkAzure;
    }
    & .arrowUp {
      border-bottom: 5px solid $darkAzure;
    }
  }
}
.disabled {
  cursor: default;
}
.arrowDown, .arrowUp {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.arrowDown {
  border-top: 5px solid $azure;
}
.arrowUp {
  border-bottom: 5px solid $azure;
}
