.specialFundraiser {
  @media $s_max {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-top: 5px solid $azure;
    border-bottom: 5px solid $azure;
  }
  @media $m_only {
    margin-top: 20px;
    padding: 15px 30px;
    border-top: 20px solid $azure;
    border-right: 1px solid $azure;
    border-bottom: 20px solid $azure;
    border-left: 1px solid $azure;
  }
  @media $m_max {
    background-color: white;
  }
  @media $l_min {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-left: 20px solid $azure;
  }
}
.multiplier {
  @media $m_only {
    border-right: 1px solid $sand;
    border-left: 1px solid $sand;
  }
  @media $m_max {
    border-top: 20px solid $sand;
    border-bottom: 20px solid $sand;
  }
  @media $l_min {
    border-left: 20px solid $sand;
  }
}
.info {
  @media $s_max {
    text-align: center;
  }
  @media $l_min {
    padding: 30px;
  }
}
.content {
  padding: 30px;
  border: 1px solid $sand;
  border-radius: $radius;
  background-color: white;
  @media $m_max {
    max-width: $size_s_min;
    margin: 0 auto;
    margin-top: 15px;
  }
  @media $l_min {
    width: $size_s_min;
    min-width: $size_s_min;
    margin-left: auto;
  }
}
