.container {
  @media $m_min {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
}
.button {
  @media $s_max {
    margin-bottom: 30px;
    text-align: center;
  }
  @media $m_min {
    margin-left: auto;
  }
}
