.container {
  position: relative;
  z-index: 20;
  background-color: $darkAzure;
  @media $s_max {
    height: auto;
  }
  @media $m_min {
    height: 115px;
  }
  @media $l_max {
    box-shadow: $shadowLarge $darkStone;
  }
  @mixin extendBackground $darkAzure;
}
.logo {
  padding: 15px;
  @media $s_max {
    display: flex;
    justify-content: center;
    cursor: default;
    pointer-events: none;
    img {
      height: 75px;
    }
  }
  @media $m_min {
    position: absolute;
    left: 15px;
    height: 100%;
    &:hover {
      background-color: $lighten10;
    }
    &:active {
      background-color: $lighten20;
    }
    img {
      height: 100%;
    }
  }
}
.tabs {
  display: flex;
  @media $s_max {
    flex-wrap: wrap;
    justify-content: center;
  }
  @media $m_min {
    position: absolute;
    right: 15px;
  }
}
.tab {
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  @media $s_max {
    line-height: 50px;
    order: 2;
    height: 50px;
    padding: 0 10px;
    &:hover {
      border-bottom: 2px solid white;
      background-color: $lighten10;
    }
  }
  @media $m_min {
    line-height: 115px;
    height: 115px;
    padding: 0 15px;
    &:first-of-type {
      display: none;
    }
    &:hover {
      border-bottom: 5px solid white;
      background-color: $lighten10;
      box-shadow: 0 5px 5px -2px $darkStone;
    }
    &:active {
      background-color: $lighten20;
    }
  }
}
.tabActive {
  @media $m_min {
    border-bottom: 5px solid white;
  }
}
