.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media $s_max {
    flex-direction: column;
    padding-top: 50px;
    border-top: 1px solid $stone;
  }
}
.content {
  @media $s_max {
    text-align: center;
  }
  @media $m_only {
    padding-left: 50px;
  }
  @media $l_min {
    padding-left: 125px;
  }
}
.title {
  display: flex;
  align-items: baseline;
  & h2 {
    padding-right: 15px;
    color: $azure;
  }
  @media $s_max {
    justify-content: center;
  }
}
.text {
  max-width: 350px;
  padding-top: 15px;
}
.button {
  margin-top: 30px;
}
