.container {
  max-width: 625px;
  margin: 0 auto;
  padding: 50px 25px;
}
.quote {
  text-align: center;
  color: $azure;
  &::before {
    content: "\201C";
  }
  &::after {
    content: "\201D";
  }
  @media $m_max {
    font-size: 22px;
  }
  @media $l_min {
    font-size: 30px;
  }
}
.source {
  padding-top: 15px;
  @media $m_max {
    text-align: center;
  }
  @media $l_min {
    text-align: right;
  }
}
