.container {
  padding: 30px;
}
.header {
  align-items: center;
  padding-bottom: 15px;
  @media $s_max {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media $m_min {
    display: flex;
  }
}
.title {
  @media $s_max {
    margin-bottom: 15px;
  }
  @media $m_min {
    margin-right: auto;
  }
}
