.container {
  position: relative;
  background-color: $eggshell;
  @media $m_max {
    padding: 30px 15px;
  }
  @media $l_min {
    display: flex;
    align-items: center;
    padding: 50px;
  }
  @mixin extendBackground $eggshell;
}
.firstTier {
  display: flex;
  justify-content: center;
  align-items: center;
  @media $s_max {
    flex-direction: column;
  }
}
