.container {
  position: relative;
  background-color: $eggshell;
  @media $s_max {
    padding: 30px 0;
  }
  @media $m_min {
    display: flex;
    align-items: center;
    padding: 50px;
  }
  @mixin extendBackground $eggshell;
}
