.container {
  padding: 175px 0;
  @media $l_min {
    padding: 350px 0;
  }
  @media min($size_l_max) {
    margin: 30px 0;
  }
  @mixin parallaxBackdrop assets/Backgrounds/Signin.jpg;
}
.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  background-color: $blacken50;
  @media $m_max {
    justify-content: center;
  }
}
.slogan {
  font-weight: 200;
  color: white;
  @media $m_max {
    width: 100%;
    margin-top: -25px;
    padding: 15px 0;
    text-align: center;
  }
  @media $l_min {
    padding: 0 15px;
    text-align: right;
  }
}
.signin {
  width: 350px;
  background-color: white;
  box-shadow: $shadow $darkStone;
  @media $l_min {
    margin-left: 15px;
  }
}
