.container {
  padding: 30px;
}
.header {
  display: flex;
  align-items: center;
  @media $s_max {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  padding-bottom: 5px;
  @media $m_min {
    margin-right: auto;
  }
}
.footer {
  @media $s_max {
    text-align: center;
  }
  @media $m_min {
    display: flex;
  }
}
.stats {
  display: flex;
  align-items: center;
  @media $s_max {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media $m_min {
    margin-right: auto;
  }
}
.loops {
  margin-right: 15px;
}
