.container {
  padding: 30px;
}
.header {
  display: flex;
  @media $s_max {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  padding-bottom: 5px;
  @media $m_min {
    margin-right: auto;
  }
}
