.container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 8px;
  padding-right: 15px;
  border-radius: $radiusLarge 20px 20px $radiusLarge;
  background-color: $darkStone;
}
.icon {
  width: 25px;
  height: 25px;
}
.count {
  line-height: normal;
  padding-left: 10px;
  color: white;
}
