.circles {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  @media $m_min {
    padding-left: 15px;
  }
}
.testCreateCircle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-width: 200px;
  height: 200px;
  margin: 7.5px;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  border: 6px dashed $azure;
  border-radius: 100%;
  background-color: white;
  &:hover {
    border: 6px solid $azure;
  }
  &:active {
    color: $azure;
    & .testCreateCircleName {
      text-decoration: underline;
    }
  }
}
.testCreateCircleName {
  line-height: unset;
}
