.container {
  position: relative;
  display: flex;
  align-items: center;
  @media $s_max {
    flex-direction: column;
  }
}
.circles {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  @media $m_min {
    padding-left: 15px;
  }
}
