.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 35px 50px 50px;
  border-radius: $radiusLarge;
  @media $s_max {
    margin: 30px auto 0;
    border-top: 1px solid $azure;
    border-bottom: 1px solid $azure;
  }
  @media $m_min {
    border: 1px solid $azure;
    background-color: white;
  }
  @media $m_only {
    margin: -30px auto 15px;
  }
  @media $l_min {
    margin: -45px auto 15px;
  }
}
.title {
  font-weight: 300;
  color: $azure;
}
.button {
  margin-top: 15px;
}
