.dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-bottom: 15px;
  border: 1px dashed $stone;
  &:hover {
    cursor: pointer;
    border: 2px dashed $azure;
    & .hover {
      display: block;
    }
  }
}
.active {
  border: 2px dashed $azure;
}
.image {
  width: 100%;
}
.hover {
  line-height: 160px;
  position: absolute;
  display: none;
  width: 160px;
  height: 160px;
  text-align: center;
  color: white;
  border-radius: 100%;
  background-color: color($darkStone alpha(50%));
}
