.container {
  position: relative;
  margin: 0 auto;
  background-color: $eggshell;
  @mixin extendBackground $eggshell;
  @media $s_max {
    padding: 50px 0;
  }
  @media $m_only {
    max-width: 900px;
  }
  @media $l_min {
    width: 1200px;
  }
}
