.container {
  @media $s_max {
    padding: 30px 15px;
  }
  @media $m_min {
    padding: 50px;
  }
}
.buttons {
  display: flex;
  margin-bottom: 30px;
  @media $s_max {
    justify-content: center;
  }
  @media $m_min {
    justify-content: flex-end;
  }
}
.buttonMargin {
  margin-left: 15px;
}
.balance {
  padding: 30px 0;
  text-align: center;
  & h1 {
    color: $sand;
  }
  & h2 {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.expiration {
  margin: 50px 0;
  text-align: center;
}
.sand {
  color: $sand;
}
.azure {
  color: $azure;
}
