.container {
  position: relative;
  max-width: 625px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  background-color: $eggshell;
  @mixin extendBackground $eggshell;
  & img {
    width: 100%;
    margin-top: 15px;
  }
}
