.container {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  padding: 200px 50px 100px;
  text-align: center;
  background-color: $eggshell;
  @mixin extendBackground $eggshell;
  & img {
    width: 100%;
    margin-top: 15px;
  }
}
