.credit {
  position: absolute;
  padding: 5px;
  color: white;
  border-bottom-right-radius: $radius;
  background-color: $blacken50;
  @media $s_max {
    font-size: 12px;
    line-height: 15px;
  }
  @media $m_only {
    font-size: 14px;
    line-height: 18px;
  }
  @media $l_min {
    font-size: 15px;
    line-height: 20px;
  }
}
