.container {
  padding: 175px 0;
  @media $l_min {
    padding: 350px 0;
  }
  @media min($size_l_max) {
    margin-top: 30px;
  }
  @mixin parallaxBackdrop assets/Backgrounds/About.jpg;
}
.center {
  text-align: center;
}
.text {
  display: inline-block;
  padding: 5px;
  color: white;
  background-color: $blacken50;
  box-decoration-break: clone;
  box-shadow: 0 0 1px 5px $blacken50;
  @media $s_max {
    max-width: 400px;
    box-shadow: 0 0;
  }
  @media $m_only {
    max-width: 705px;
  }
  @media $l_min {
    max-width: 830px;
  }
}
