.container {
  position: relative;
  background-color: $eggshell;
  @media $s_max {
    padding: 30px;
  }
  @media $m_min {
    padding: 50px;
  }
  @mixin extendBackground $eggshell;
}
.header {
  display: flex;
  margin-bottom: 15px;
  @media $s_max {
    flex-direction: column;
  }
  @media $m_min {
    align-items: center;
  }
}
.title {
  @media $m_min {
    margin-right: auto;
  }
}
