.container {
  display: flex;
  justify-content: center;
  @media $s_max {
    flex-direction: column;
  }
  @media $m_min {
    padding: 15px 0;
  }
}
.column {
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  @media $s_max {
    margin: 0 auto;
  }
  @media $m_only {
    width: 50%;
    &:first-of-type {
      padding-right: 15px;
    }
    &:last-of-type {
      padding-left: 15px;
    }
  }
  @media $l_min {
    margin: 0 15px;
  }
}
.dangerText, .specialText {
  font-weight: 700;
  text-transform: uppercase;
}
.dangerText {
  color: $coral;
}
.specialText {
  color: $azure;
}
.flex {
  display: flex;
}
.inlineButton {
  display: inline;
  margin-left: 5px;
}
