.container {
  background-color: $eggshell;
  @media $s_max {
    padding: 30px 0;
    text-align: center;
  }
  @media $m_min {
    display: flex;
    padding: 60px 30px;
  }
}
.right {
  @media $m_min {
    margin-left: auto;
    text-align: right;
  }
}
.ein {
  color: $azure;
}
.verified {
  color: $sand;
}
.notVerified {
  color: $coral;
}
