.container {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: $eggshell;
}
.topText {
  font-weight: 300;
}
.ein {
  color: $azure;
}
.verified {
  padding-left: 15px;
  color: $sand;
}
.notVerified {
  padding-left: 15px;
  color: $coral;
}
.topRight {
  margin-left: auto;
  text-align: right;
}
