.container {
  font-family: inherit;
  font-size: 18px;
  padding: 15px;
  box-shadow: $shadowLarge $darkStone;
}
.default {
  color: $stone;
  background-color: $eggshell;
}
.success {
  color: white;
  background-color: $azure;
}
.error {
  color: white;
  background-color: $coral;
}
.progressLight {
  background: color(white alpha(50%));
}
.progressDark {
  background: color($darkStone alpha(50%));
}
