.container {
  display: flex;
  padding: 20px;
  @media $s_max {
    justify-content: center;
  }
  @media $m_min {
    position: absolute;
    right: 0;
    border-bottom-left-radius: $radiusLarge;
    background-color: color(black alpha(65%));
  }
}
.icon {
  position: relative;
  top: 3px;
  display: inline;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
