.container {
  display: flex;
  flex-direction: column;
  @media $s_max {
    margin-bottom: 15px;
    text-align: center;
  }
}
.link {
  font-size: 15px;
  line-height: 20px;
  padding: 3px 5px;
  color: $azure;
  @media $s_max {
    margin: 0 auto 5px;
  }
  @media $m_min {
    margin-right: auto;
    border-left: 1px solid $azure;
    &:hover {
      border-left: 2px solid $azure;
    }
  }
}
