.item {
  padding: 10px;
  @media $m_max {
    padding-right: 0;
  }
}
.title {
  cursor: pointer;
  &:hover {
    color: $darkAzure;
  }
}
.activeTitle {
  color: $azure;
}
.content {
  padding: 15px;
  border-left: 1px solid $azure;
  @media $m_max {
    padding-right: 0;
  }
  @media $s_max {
    font-size: 16px;
    line-height: 25px;
  }
  @media $m_only {
    font-size: 18px;
    line-height: 28px;
  }
  @media $l_min {
    font-size: 20px;
    line-height: 30px;
  }
}
