.container {
  @media $s_max {
    padding: 15px;
  }
  @media $m_min {
    padding: 30px;
  }
}
.columns {
  @media $m_min {
    display: flex;
    justify-content: center;
  }
}
.leftColumn {
  @media $m_only {
    width: 50%;
    padding-right: 15px;
  }
  @media $l_min {
    width: 45%;
    padding-right: 30px;
  }
}
.rightColumn {
  @media $m_only {
    width: 50%;
    padding-left: 15px;
  }
  @media $l_min {
    width: 45%;
    padding-left: 30px;
  }
}
