.container {
  position: relative;
  background-color: $eggshell;
  @mixin extendBackground $eggshell;
  @media $s_max {
    padding-top: 15px;
  }
  @media $m_min {
    padding: 30px;
  }
}
.title {
  padding-bottom: 5px;
}
