.container {
  border-radius: $radiusLarge;
  box-shadow: $shadow $stone;
  @media $s_max {
    margin: 10px;
    padding: 10px;
  }
  @media $m_min {
    margin: 15px;
    padding: 15px;
  }
}
.dots {
  display: flex;
  align-items: center;
  padding-top: 5px;
  & h5 {
    padding-right: 15px;
  }
}
.date {
  padding-top: 5px;
}
