.signin {
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  @media $s_max {
    line-height: 50px;
    order: 2;
    height: 50px;
    padding: 0 10px;
    &:hover {
      border-bottom: 2px solid white;
      background-color: $lighten10;
    }
  }
  @media $m_min {
    line-height: 15px;
    height: 45px;
    margin-top: 35px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid white;
    border-radius: $radius;
    box-shadow: $shadow $darkStone;

    &:hover {
      background-color: $lighten10;
    }
    &:active {
      box-shadow: $shadowLarge $darkStone;
    }
  }
}
