.container {
  display: flex;
  align-items: center;
  @media $s_max {
    flex-direction: column;
    padding: 15px 15px 20px;
  }
  @media $m_min {
    padding: 25px 15px;
  }
  @media $m_max {
    justify-content: center;
  }
  @media $l_min {
    justify-content: flex-end;
  }
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media $s_max {
    margin-bottom: 10px;
  }
  @media $m_min {
    margin-right: 10px;
  }
  & > * {
    @media $s_max {
      margin: 10px;
    }
    @media $m_min {
      margin: 0 10px;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}
