.container {
  @media $m_max {
    width: 100%;
    max-width: 400px;
    margin: 15px auto;
    text-align: center;
  }
  @media $l_min {
    width: 425px;
    margin-left: auto;
    text-align: right;
  }
}
.date {
  font-weight: bold;
  margin-top: 15px;
  color: $darkStone;
}
