.container {
  position: relative;
  padding: 50px;
  background-color: $eggshell;
  @mixin extendBackground $eggshell;
}
.firstRow {
  position: relative;
  display: flex;
  align-items: center;
  @media $s_max {
    flex-direction: column;
  }
}
.actions {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.create {
  margin-right: auto;
}
.search {
  display: flex;
  align-items: center;
}
