.container {
  position: relative;
}
.center {
  text-align: center;
}
.button {
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  display: inline-block;
  height: 40px;
  padding: 0 15px;
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  border: 0;
  border-radius: $radius;
  outline: 0;
  &:disabled {
    cursor: not-allowed;
    background-color: $stone;
  }
  &:not(:disabled) {
    cursor: pointer;
    transition: all .15s ease;
    background-color: $azure;
    &:hover {
      transform: translateY(-1px);
      background-color: $darkAzure;
    }
    &.special {
      background-color: $sand;
      &:hover {
        background-color: $darkSand;
      }
    }
    &.warning {
      background-color: $coral;
      &:hover {
        background-color: color($coral blackness(40%));
      }
    }
  }
}
.shadow {
  box-shadow: 0 3px 12px 1px $stone;
  &:active {
    box-shadow: 0 6px 16px 1px $stone;
  }
}
.floatingBorder {
  &:before {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    display: block;
    content: "";
    border: 2px solid $azure;
    border-radius: $radiusLarge;
  }
  &:active:before {
    border: 2px solid $darkAzure;
  }
  &.special:before {
    border: 2px solid $sand;
  }
  &.special:active:before {
    border: 2px solid $darkSand;
  }
}
