.container {
  margin: 0 auto;
  padding: 100px 25px;
  text-align: center;
}
.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  @media $s_max {
    flex-direction: column;
  }
  @media $m_only {
    flex-wrap: wrap;
    width: 500px;
    margin: 0 auto;
  }
}
