.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $darkStone;
  @mixin extendBackground $darkStone;
  @media $s_max {
    padding: 15px 30px;
  }
  @media $m_only {
    padding: 50px 0;
  }
  @media $m_max {
    flex-direction: column;
  }
}
