.tab {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid $darkStone;
  background-color: $stone;
  @media $s_max {
    width: 50%;
    height: 50px;
    &:last-of-type {
      width: 100%;
    }
    &:hover {
      background-color: $darkStone;
    }
  }
  @media $m_min {
    width: 200px;
    margin-left: 10px;
    padding: 15px;
    &:last-of-type {
      margin-right: 10px;
    }
    &:hover {
      border: 5px solid $darkStone;
    }
  }
  @media $m_only {
    height: 150px;
    transform: skew(-10deg, 0deg);
    &:first-of-type {
      border-top-left-radius: $radiusLarge;
      border-bottom-left-radius: $radiusLarge;
    }
    &:last-of-type {
      border-top-right-radius: $radiusLarge;
      border-bottom-right-radius: $radiusLarge;
    }
  }
  @media $l_min {
    height: 200px;
    transform: skew(-15deg, 0deg);
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: $azure;
  }
}
.active {
  background-color: $azure;
}
.text {
  line-height: unset;
  @media $m_only {
    transform: skew(10deg, 0deg);
  }
  @media $l_min {
    transform: skew(15deg, 0deg);
  }
}
