.top {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: $eggshell;
}
.topText {
  font-weight: 300;
}
.ein {
  color: $azure;
}
.verified {
  color: $sand;
}
.topRight {
  margin-left: auto;
  text-align: right;
}


.bottom {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.bottomTitle {
  padding: 15px 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.name {
  width: 70%;
}
.acronym {
  width: 30%;
  padding-left: 15px;
}
.marginTop {
  margin-top: 30px;
}
.dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border: 1px dashed $stone;
  &:hover {
    cursor: pointer;
    border: 2px dashed $azure;
    & .uploadHover {
      display: block;
    }
  }
}
.activeDropzone {
  border: 2px dashed $azure;
}
.uploadHover {
  line-height: 160px;
  position: absolute;
  display: none;
  width: 160px;
  height: 160px;
  text-align: center;
  color: white;
  border-radius: 100%;
  background-color: color($darkStone alpha(50%));
}
.banner {
  width: 100%;
  min-height: 300px;
}
.administrative {
  width: 50%;
}
.fundraising {
  width: 50%;
  padding-left: 15px;
}
.program {
  width: 50%;
}
.other {
  width: 50%;
  padding-left: 15px;
}
.lastUpdated {
  width: 100%;
}
.logo {
  width: 100%;
  min-height: 150px;
}
.leftColumn {
  width: 45%;
  padding-right: 30px;
}
.rightColumn {
  width: 45%;
  padding-left: 30px;
}
.expenses {
  padding-left: 15px;
  border-left: 1px solid $stone;
}
.expensesTitle {
  padding: 15px 0;
}
