.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $eggshell;
  @media $s_max {
    padding: 30px;
  }
  @media $m_min {
    padding: 50px;
  }
  @mixin extendBackground $eggshell;
}
