.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  @media $s_max {
    flex-direction: column;
    padding-top: 30px;
    border-top: 1px solid $stone;
  }
}
.content {
  @media $s_max {
    order: 2;
    text-align: center;
  }
  @media $m_min {
    text-align: right;
  }
  @media $l_min {
    padding-right: 100px;
  }
}
.title {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
  & h2 {
    padding-right: 15px;
    color: $azure;
  }
  @media $s_max {
    justify-content: center;
  }
  @media $m_min {
    justify-content: flex-end;
  }
}
.text {
  max-width: 360px;
  padding-top: 45px;
}
.mockup {
  @media $s_max {
    order: 1;
  }
  @media $m_max {
    width: 100%;
    max-width: 400px;
  }
  @media $l_min {
    width: 500px;
  }
}
