@media $s_max {
  .username {
    width: 70%;
  }
  .dots {
    width: 30%;
  }
}
@media $m_only {
  .username {
    width: 75%;
  }
  .dots {
    width: 25%;
  }
}
@media $l_min {
  .username {
    width: 80%;
  }
  .dots {
    width: 20%;
  }
}
