.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px 30px;
}
.halo {
  width: 250px;
  height: 250px;
}
.text {
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.description {
  font-weight: 200;
  color: $azure;
}
.tier {
  font-weight: 700;
}
