.container {
  width: 300px;
  margin: 15px;
  box-shadow: $shadow $stone;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    box-shadow: $shadow $darkStone;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.title {
  padding: 15px 0;
  text-align: center;
  background-color: $eggshell;
}
